#footer-wrap
  if theme.footer.socialBar.enable
    - let centerImg = theme.footer.socialBar.centerImg ? theme.footer.socialBar.centerImg : theme.avatar.img
    - let leftInfo = theme.footer.socialBar.left
    - let rightInfo = theme.footer.socialBar.right
    #footer_deal
      each item, index in leftInfo
        a.deal_link(href=url_for(item.link) title=item.title)
          i(class=item.icon)
      img.footer_mini_logo(title="返回顶部", onclick="anzhiyu.scrollToDest(0, 500)", src=centerImg, size="50px")
      each item, index in rightInfo
        a.deal_link(href=url_for(item.link) title=item.title)
          i(class=item.icon)
  if theme.footer.list.enable
    - let projectList = theme.footer.list.project
    #anzhiyu-footer
      each item, index in projectList
        .footer-group
          .footer-title=item.title
          .footer-links
            each iten, indey in item.links
              a.footer-item(title=iten.title target="_blank" href=iten.link)=iten.title
      if theme.footer.list.randomFriends > 0
        .footer-group
          .footer-title-group
            .footer-title 友链
            a.random-friends-btn#footer-random-friends-btn(href="javascript:addFriendLinksInFooter();" title="换一批友情链接")
              i.anzhiyufont.anzhiyu-icon-arrow-rotate-right
          .footer-links#friend-links-in-footer

  if theme.footer.owner.enable
    - var now = new Date()
    - var nowYear = now.getFullYear()
    if theme.footer.owner.since && theme.footer.owner.since != nowYear
      .copyright!= `&copy;${theme.footer.owner.since} - ${nowYear} By ${config.author}`
    else
      .copyright!= `&copy;${nowYear} By ${config.author}`

  - let work_img = theme.footer.runtime.work_img
  - let work_description = theme.footer.runtime.work_description
  if theme.footer.runtime.enable
    #workboard
      img(src=`${work_img}`, alt=`${work_description}`, title=`${work_description}`, class="workSituationImg boardsign")
      #runtimeTextTip
  if theme.footer.bdageitem
    p#ghbdages
      each item in theme.footer.bdageitem
        a.github-badge(target='_blank' href=item.link style='margin-inline:5px' data-title=item.message title=item.message)
          img(src=item.shields alt=item.message)
  if theme.footer.custom_text
    .footer_custom_text!=`${theme.footer.custom_text}`
