if site.data.about
  - let aboutData = site.data.about
  each item in aboutData
    - let subtitle = item.subtitle || config.subtitle
    - let avatarImg = item.avatarImg || theme.avatar.img
    - let aboutName = item.name || theme.author
    - let aboutDescription = item.description || config.description
    - let helloAbout = item.helloAbout
    - let skillsTips = item.skillsTips
    - let careers = item.careers
    #about-page
      .author-box
        .author-img
          img.no-lightbox(src=url_for(avatarImg) onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'` alt="avatar")
        .image-dot
      p.p.center.logo.large 关于我
      p.p.center.small=subtitle
      .author-content
        .author-content-item.myInfoAndSayHello
          .title1 你好，很高兴认识你👋
          .title2
            | 我叫 
            span.inline-word=aboutName
          .title1=aboutDescription
        .aboutsiteTips.author-content-item
          - let { tips, title1, title2, word } = item.aboutsiteTips
          .author-content-item-tips= tips
          h2
            = title1
            br
            = title2
            .mask
              each wordItem, index in word
                if index < word.length - 2
                  span(class=(index === 0 ? 'first-tips' : ''))= wordItem
              span(data-up)= word[word.length - 2]
              |  
              span(data-show)= word[word.length - 1]
      
      .hello-about
        .cursor(style='translate:none;rotate:none;scale:none;transform:translate(721px,180px)')
        .shapes
          .shape.shape-1(style='translate:none;rotate:none;scale:none;transform:translate(721px,180px)')
          .shape.shape-2(style='translate:none;rotate:none;scale:none;transform:translate(721px,180px)')
          .shape.shape-3(style='translate:none;rotate:none;scale:none;transform:translate(721px,180px)')
        .content
          h1=helloAbout
      
      .author-content
        .author-content-item.skills
          .card-content
            .author-content-item-tips=skillsTips.tips
            span.author-content-item-title=skillsTips.title
            .skills-style-group
              include ../anzhiyu/tags-group-all.pug
              if site.data.creativity
                .skills-list
                  each i in site.data.creativity
                    each item, index in i.creativity_list
                      .skill-info
                        .skill-icon(style=`background: ${item.color}`)
                          img.no-lightbox(title=item.name, src=item.icon)
                        .skill-name
                          span=item.name 
                  .etc ...
        .author-content-item.careers
          .card-content
            .author-content-item-tips=careers.tips
            span.author-content-item-title=careers.title
            .careers-group
              .careers-item
                .circle(style='background:#357ef5')
                each i in careers.item
                  .name=i
            img.author-content-img.no-lightbox(alt=careers.tips, src=url_for(careers.img) onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'`)
      
      .author-content
        if theme.LA.enable
          .about-statistic.author-content-item
            .card-content
              .author-content-item-tips 数据
              span.author-content-item-title 访问统计
              #statistic
              .post-tips
                | 统计信息来自 
                a(href='https://invite.51.la/1NzKqTeb?target=V6', target='_blank', rel='noopener nofollow') 51la网站统计
              .banner-button-group
                - let link = item.statistic.link
                - let text = item.statistic.text
                a.banner-button(onclick=`pjax.loadUrl("${link}")`)
                  i.fas.fa-circle-arrow-up-right
                  |  
                  span.banner-button-text=text
        .author-content-item-group.column.mapAndInfo
          - let mapBackground = item.map.background
          - let mapBackgroundDark = item.map.backgroundDark
          style.
            .author-content-item.map {
              background-image: url(#{mapBackground});
            }
            [data-theme='dark'] .author-content-item.map {
              background-image: url(#{mapBackgroundDark});
            }
          .author-content-item.map.single
            - let mapTitle = item.map.title
            - let mapStrengthenTitle = item.map.StrengthenTitle
            span.map-title=mapTitle
              b=mapStrengthenTitle
          .author-content-item.selfInfo.single
            - let { selfInfoTips1, selfInfoContentYear, selfInfoTips2, selfInfoContent2, selfInfoTips3, selfInfoContent3 } = item.selfInfo
            div
              span.selfInfo-title=selfInfoTips1
              |  
              span.selfInfo-content#selfInfo-content-year(style='color:#43a6c6')=selfInfoContentYear
            div
              span.selfInfo-title=selfInfoTips2
              |  
              span.selfInfo-content(style='color:#c69043')=selfInfoContent2
            div
              span.selfInfo-title=selfInfoTips3
              |  
              span.selfInfo-content(style='color:#b04fe6')=selfInfoContent3
      
      .author-content
        .author-content-item.personalities
          - let {author_name, personality_type, photo_url, personality_img} = item.personalities
          .author-content-item-tips 性格
          span.author-content-item-title= author_name
          .title2(style='color:#ac899c')= personality_type
          .post-tips
            | 在 
            a(href='https://www.16personalities.com/', target='_blank', rel='noopener nofollow') 16personalities
            |  了解更多关于 
            a(target='_blank', rel='noopener external nofollow', href='https://www.16personalities.com/ch/esfj-%E4%BA%BA%E6%A0%BC')= author_name
          .image
            img.no-lightbox(src=url_for(personality_img), alt='人格')
        .author-content-item.myphoto
          img.author-content-img.no-lightbox(alt='自拍', src=url_for(photo_url))
      
      .author-content
        .author-content-item.maxim
          - let {maxim_tips, maxim_top, maxim_bottom} = item.maxim
          .author-content-item-tips=maxim_tips
          span.maxim-title
            span(style='opacity:.6;margin-bottom:8px')=maxim_top
            |  
            span=maxim_bottom
        .author-content-item.buff
          .card-content
          - let {buff_tips, buff_top, buff_bottom} = item.buff
            .author-content-item-tips=buff_tips
            span.buff-title
              span(style='opacity:.6;margin-bottom:8px')=buff_top
              |  
              span=buff_bottom
          .card-background-icon
            i.fas.fa-dice-d20

      .author-content
        - let {game_tips, game_title, game_uid, game_bg} = item.game
        .author-content-item.game-yuanshen(style=`background: url(${game_bg}) top / cover no-repeat;`)
          .card-content
            .author-content-item-tips=game_tips
            span.author-content-item-title=game_title
            .content-bottom
              .icon-group
                .loading-bar(role='presentation', aria-hidden='true')
              .tips.game-yuanshen-uid=game_uid
        .author-content-item.comic-content
          .card-content
            - let {comic_tips, comic_title, comic_list} = item.comic
            .author-content-item-tips=comic_tips
            .author-content-item-title=comic_title
            .comic-box
              if comic_list
                each i in comic_list
                  a.comic-item(href=i.href, target="_blank", title=i.name)
                    .comic-item-cover
                      img(src=i.cover, alt=i.name)
      
      .author-content
        - let {music_tips, music_title, music_link, music_bg} = item.music
        - let {like_tips, like_title, like_bottom, like_bg} = item.like
        .author-content-item.like-technology(style=`background: url(${like_bg}) top / cover no-repeat;`)
          .card-content
            .author-content-item-tips=like_tips
            span.author-content-item-title=like_title
            .content-bottom
              .tips=like_bottom
        .author-content-item.like-music(style=`background: url(${music_bg}) top / cover no-repeat;`)
          .card-content
            .author-content-item-tips=music_tips
            span.author-content-item-title=music_title
            .content-bottom
              .tips=`跟 ${aboutName} 一起欣赏更多音乐`
            .banner-button-group
              a.banner-button(onclick=`pjax.loadUrl("${music_link}")`)
                i.fas.fa-circle-arrow-up-right
                |  
                span.banner-button-text 更多推荐

      if item.extra
        include ../anzhiyu/about-extra.pug
        
      .author-content
        .author-content-item.single.reward
          .author-content-item-tips 致谢
          span.author-content-item-title 赞赏名单
          .author-content-item-description 感谢因为有你们，让我更加有创作的动力。
            - let rawData = item.reward_list
            .reward-list-all
              - let reward_list_amount = item.reward_list.sort((a,b)=>b.amount -  a.amount)
              each item, index in reward_list_amount
                .reward-list-item
                  .reward-list-item-name=item.name
                  .reward-list-bottom-group
                    if item.amount >= 50
                      .reward-list-item-money(style='background:var(--anzhiyu-yellow)')=`¥${item.amount}`
                    else 
                      .reward-list-item-money=`¥${item.amount + (item.suffix ? item.suffix : "")}`
                    .datatime.reward-list-item-time(datatime=item.datatime)=new Date(item.datatime).toISOString().slice(0, -14)
            .reward-list-updateDate
              | 最新更新时间： 
              time.datatime.reward-list-updateDate-time(datatime=rawData[0].datatime)=new Date(rawData[0].datatime).toISOString().slice(0, -14)
          .about-reward
            #con
            #TA-con(onclick="anzhiyu.rewardShowConsole()")
              #text-con
                #linght
                #TA 为TA充电
            #tube-con
              svg(viewBox='0 0 1028 385', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M1 77H234.226L307.006 24H790', stroke='#e5e9ef', stroke-width='20')
                path(d='M0 140H233.035L329.72 71H1028', stroke='#e5e9ef', stroke-width='20')
                path(d='M1 255H234.226L307.006 307H790', stroke='#e5e9ef', stroke-width='20')
                path(d='M0 305H233.035L329.72 375H1028', stroke='#e5e9ef', stroke-width='20')
                rect(y='186', width='236', height='24', fill='#e5e9ef')
                ellipse(cx='790', cy='25.5', rx='25', ry='25.5', fill='#e5e9ef')
                circle(r='14', transform='matrix(1 0 0 -1 790 25)', fill='white')
                ellipse(cx='790', cy='307.5', rx='25', ry='25.5', fill='#e5e9ef')
                circle(r='14', transform='matrix(1 0 0 -1 790 308)', fill='white')
              #mask
                svg(viewBox='0 0 1028 385', fill='none', xmlns='http://www.w3.org/2000/svg')
                  path(d='M1 77H234.226L307.006 24H790', stroke='#f25d8e', stroke-width='20')
                  path(d='M0 140H233.035L329.72 71H1028', stroke='#f25d8e', stroke-width='20')
                  path(d='M1 255H234.226L307.006 307H790', stroke='#f25d8e', stroke-width='20')
                  path(d='M0 305H233.035L329.72 375H1028', stroke='#f25d8e', stroke-width='20')
                  rect(y='186', width='236', height='24', fill='#f25d8e')
                  ellipse(cx='790', cy='25.5', rx='25', ry='25.5', fill='#f25d8e')
                  circle(r='14', transform='matrix(1 0 0 -1 790 25)', fill='white')
                  ellipse(cx='790', cy='307.5', rx='25', ry='25.5', fill='#f25d8e')
                  circle(r='14', transform='matrix(1 0 0 -1 790 308)', fill='white')
              #orange-mask
                svg(viewBox='0 0 1028 385', fill='none', xmlns='http://www.w3.org/2000/svg')
                  path(d='M1 77H234.226L307.006 24H790', stroke='#ffd52b', stroke-width='20')
                  path(d='M0 140H233.035L329.72 71H1028', stroke='#ffd52b', stroke-width='20')
                  path(d='M1 255H234.226L307.006 307H790', stroke='#ffd52b', stroke-width='20')
                  path(d='M0 305H233.035L329.72 375H1028', stroke='#ffd52b', stroke-width='20')
                  rect(y='186', width='236', height='24', fill='#ffd52b')
                  ellipse(cx='790', cy='25.5', rx='25', ry='25.5', fill='#ffd52b')
                  circle(r='14', transform='matrix(1 0 0 -1 790 25)', fill='white')
                  ellipse(cx='790', cy='307.5', rx='25', ry='25.5', fill='#ffd52b')
                  circle(r='14', transform='matrix(1 0 0 -1 790 308)', fill='white')
              p#people
                | 共
                b=item.reward_list.length
                | 人


    script(src=url_for(theme.asset.countup_js))
    script(src=url_for(theme.asset.gsap_js))
    script(src=url_for(theme.asset.about_js) defer)