#article-container
  - let totalLinks = 0;
  each item in site.data.link
    - totalLinks += item.link_list.length
  if totalLinks >= 50
    #flink-banners
      .banner-top-box
        .flink-banners-title
          .banners-title-small å‹æƒ…é“¾æŽ¥
          .banners-title-big ä¸Žæ•°ç™¾ååšä¸»æ— é™è¿›æ­¥
        .banner-button-group
          if (theme.friends_vue.apiurl)
            a.banner-button.secondary.no-text-decoration(onclick="anzhiyu.travelling()")
              i.anzhiyufont.anzhiyu-icon-paper-plane1
              span.banner-button-text éšæœºè®¿é—®
          if theme.comment_barrage_config.enable && theme.comments.use == 'Twikoo'
            a.banner-button.no-text-decoration(onclick="anzhiyu.addFriendLink()")
              i.anzhiyufont.anzhiyu-icon-arrow-circle-right
              span.banner-button-text ç”³è¯·å‹é“¾
      #skills-tags-group-all
        .tags-group-wrapper
          each i, index in site.data.link.slice(0, 15)
            - const link_list = i.link_list.slice()
            - const hundredSuffix = i.hundredSuffix ? i.hundredSuffix : ""
            - const evenNum = link_list.filter((x, index) => index % 2 === 0);
            - const oddNum = link_list.filter((x, index) => index % 2 === 1);
            each item, index2 in link_list.slice(0, Math.min(evenNum.length, oddNum.length))
              - const index = index2 * 2
              if (index <= 16 && typeof evenNum[index] !== 'undefined' && typeof oddNum[index] !== 'undefined')
                - function getAvatarWithoutExclamationMark(url) {
                -   const index = url.indexOf('!');
                -   return index !== -1 ? url.substring(0, index) : url;
                - }
                - let oddNumAvatar = getAvatarWithoutExclamationMark(oddNum[index].avatar);
                - let evenNumAvatar = getAvatarWithoutExclamationMark(evenNum[index].avatar);
                .tags-group-icon-pair
                  a.tags-group-icon.no-text-decoration(href=evenNum[index].link, title=evenNum[index].name)
                    img.no-lightbox(title=evenNum[index].name, src=(evenNumAvatar + hundredSuffix))
                  a.tags-group-icon.no-text-decoration(href=oddNum[index].link, title=oddNum[index].name)
                    img.no-lightbox(title=oddNum[index].name, src=(oddNumAvatar + hundredSuffix))
          each i, index in site.data.link.slice(0, 15)
            - const link_list = i.link_list.slice()
            - const hundredSuffix = i.hundredSuffix ? i.hundredSuffix : ""
            - const evenNum = link_list.filter((x, index) => index % 2 === 0);
            - const oddNum = link_list.filter((x, index) => index % 2 === 1);
            each item, index2 in link_list.slice(0, Math.min(evenNum.length, oddNum.length))
              - const index = index2 * 2
              if (index <= 16 && typeof evenNum[index] !== 'undefined' && typeof oddNum[index] !== 'undefined')
                - function getAvatarWithoutExclamationMark(url) {
                -   const index = url.indexOf('!');
                -   return index !== -1 ? url.substring(0, index) : url;
                - }
                - let oddNumAvatar = getAvatarWithoutExclamationMark(oddNum[index].avatar);
                - let evenNumAvatar = getAvatarWithoutExclamationMark(evenNum[index].avatar);
                .tags-group-icon-pair
                  a.tags-group-icon.no-text-decoration(href=evenNum[index].link, title=evenNum[index].name)
                    img.no-lightbox(title=evenNum[index].name, src=(oddNumAvatar + hundredSuffix))
                  a.tags-group-icon.no-text-decoration(href=oddNum[index].link, title=oddNum[index].name)
                    img.no-lightbox(title=oddNum[index].name, src=(evenNumAvatar + hundredSuffix))
    .title-h2-a
      .title-h2-a-left
        h2(style='padding-top:0;margin:.6rem 0 .6rem') ðŸŽ£ é’“é±¼
        a.random-post-start.no-text-decoration(href='javascript:fetchRandomPost();')
          i.anzhiyufont.anzhiyu-icon-arrow-rotate-right
      .title-h2-a-right
        a.random-post-all.no-text-decoration(href='/link/') å…¨éƒ¨å‹é“¾
    #random-post

    include ../anzhiyu/random-friends-post-js.pug
  .flink
    if site.data.link
      each i in site.data.link
        if i.class_name
          h2!= i.class_name + "(" + i.link_list.length + ")"
        if i.class_desc
          .flink-desc!=i.class_desc
        if i.flink_style === 'anzhiyu'
          div(class=i.lost_contact ? 'anzhiyu-flink-list cf-friends-lost-contact' : 'anzhiyu-flink-list')
            if i.link_list
              each item in i.link_list
                .flink-list-item
                  if item.recommend
                    span.site-card-tag è
                  a.cf-friends-link(href=url_for(item.link) title=item.name target="_blank")
                    if theme.lazyload.enable
                      img.cf-friends-avatar.no-lightbox(data-lazy-src=url_for(item.avatar) onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'` alt=item.name )
                    else
                      img.cf-friends-avatar.no-lightbox(src=url_for(item.avatar) onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'` alt=item.name )
                    .flink-item-info
                      if i.lost_contact
                        .flink-item-name.cf-friends-name-lost-contact= item.name
                      else 
                        .flink-item-name.cf-friends-name= item.name
                        .flink-item-desc(title=item.descr)= item.descr
          
        else if i.flink_style === 'flexcard'
          .flexcard-flink-list
            each item in i.link_list
              a.flink-list-card.cf-friends-link(href=url_for(item.link) target='_blank' data-title=item.descr)
                .wrapper.cover
                  - var siteshot = item.siteshot ? url_for(item.siteshot) : 'https://image.thum.io/get/width/400/crop/800/allowJPG/wait/20/noanimate/' + item.link
                  if theme.lazyload.enable
                    img.cover.fadeIn(data-lazy-src=siteshot onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.post_page) + `'` alt='' )
                  else
                    img.cover.fadeIn(src=siteshot onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.post_page) + `'` alt='' )    
                .info
                  if theme.lazyload.enable
                    img.cf-friends-avatar.no-lightbox.flink-avatar(data-lazy-src=url_for(item.avatar) onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'` alt='' )
                  else
                    img.cf-friends-avatar.no-lightbox(src=url_for(item.avatar) onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'` alt='' )
                  span.flink-sitename.cf-friends-name= item.name
    != page.content
